// colors
@color__white: #fff;
@color__black: #242526;
@color__transparent: transparent;

@color__warning: #FAAB00;
@color__danger: #F83030;
@color__success: #4CAF50;
@color__primary: #1E88E5;
@color__secondary: #E0E0E0;

// button vars
@button__border-radius: 3px;
@button__font-size: 16px;

// grid
@container-sm: 576px;
@container-md: 768px;
@container-lg: 992px;
@container-xl: 1160px;

