.labels {
    display: flex;
    flex-wrap: wrap;
    font-weight: @label__font-weight;
    font-size: @label__font-size;

    span {
        background-color: @color__blue;
        color: #fff;
        padding: @label__padding;
        margin: @label__margin;
        border-radius: @label__border-radius;

        @media (min-width: @container-sm) {
            background-color: @color__green;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
